.title {
  font-size: 30px;
  height: 100px;
  font-weight: bold;
  text-align: center;
}
.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.save {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  overflow: visible;
  background-color: seagreen;
}

.save:hover {
  color: white;
  transform: scale(1.1);
  transition: transform 0.5s;
}

.mb-3 {
  margin-bottom: 16px;
}
textarea {
  resize: none;
}
