html {
  height:100%;
}
body {
  margin: 0;
  padding: 0;
  height:100%;
  font-family: 'NanumSquareNeo-Variable';
}

.login {
  width:100%;
  height:100%;
  position:relative;
}
.login-box {
  width:100%;
  display:flex;
  flex-wrap:nowrap;
  height:100%;
}
.login-box .bg-left {
/*   border:2px solid blue; */
  width:calc(100%/2);
  overflow:hidden;
}
.login-box .bg-left img{
  width:100%;
  height:100%;
  object-fit:cover;
}
.login-box .bg-right {
/*   border:2px solid blue; */
  width:calc(100%/2);
}


.container {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: rgba(99, 99, 99, 0.4) 0px 20px 80px 0px;
  overflow: hidden;
  width: 850px;
  height: 550px;
  display:flex;
  align-items:center;
}
.container .logo, .login-form {
  width:calc(100%/2);
  height:100%;
  display:flex;
  justify-content:center;
  overflow:hidden;
}
.container .logo > img {
  width:400px;
  height:400px;
  margin:auto 0;
}
.container .login-form > form{
  position:absolute;
  z-index:99;
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top: 80px;
}
.container .login-form img{
  transform:rotate(180deg);
  opacity:0.5;
  width:500px;
  height:800px;
}



/* 로그인 폼 안에 요소 설정 */
button {
  text-decoration: none;
  position: relative;
  font-size: 14px;
  font-weight: 700;
  color: black;
  outline-color:rgb(27,28,29);
  width: 80%;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: white;
  background-size: 300%;
  border-radius: 5px;
  z-index: 2;
  margin-top: 13px;
  cursor: pointer;
}
#login {
  background-color: rgb(27,89,29);
  color:white;
}

input {
  background-color: white;
  border: none;
  font-size: 14px;
  width: 80%;
  height: 3em;
  margin:10px 0;
  color: #333;
  outline: none;
  border-radius: 5px;
}
span {
  font-size: 14px;
  color: #a9a9a9;
}


@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}