body{
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color:inherit;
}
button{border:0;background:inherit;}
li {list-style:none;}





.content{
width:100%;
  min-width:1500px;
  margin-left:auto;
  margin-right:auto;
}

.content .list-header {
    position:relative;
    width:1100px;
    height:80px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .list-header .list-sub{
    font-size: 1.5rem;
    font-weight:bold;
}



.content .container{
   width:1100px;
   height:200px;
   margin:0 auto;
   display:flex;
   justify-content:space-around;
   align-items:center;
   border-top:1px solid gray;
    border-bottom:1px solid gray;
}

.container .searchbox {

  width:1100px;
  display:flex;
  justify-content:space-between;
}
.container .searchbox .box1_input{
     font-size:1rem;
     width:600px;
     height:40px;
     border:1px solid rgb(30,90,30);
     border-radius:10px;
}
.container .searchbox .box2_sel {
     font-size:1rem;
     width:220px;
     height:100%;
     padding:auto 0;
     border:1px solid rgb(30,90,30);
     border-radius:10px;
     line-height:40px;
}

.container .searchbox .searchbtn{
    font-size:1rem;
    border-radius:10px;
    height:100%;
    width: 220px;
    background:lightgray;
    cursor:pointer;
}






.main_container{

    width: 1100px;
    margin:0 auto;
    display:flex;
    position:relative;
}

.main_container .leftbox{

  width: 30%;
  margin-top:30px;
  padding-right:20px;
}
.main_container .leftbox .filter_detail{

  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}
.main_container .leftbox .filter_detail > div {
    font-size:1.2rem;
    padding:10px;
}
.main_container .leftbox .filter_detail > .reset_btn{
  color: gray;
  height:30px;
  font-size: 0.8rem;
  cursor:pointer;
    margin-right:10px;
    margin-bottom:5px;
}
.leftbox .filter-box {
    border:1px solid lightgray;
    border-radius:10px;
    margin-bottom:20px;
    padding:10px;
}
.leftbox .filter-box li {
    padding:5px 0;
}







.rightbox{

    margin-top:30px;
  width: 75%;
}
.rightbox > .search_title{

    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
}
.rightbox > .search_title > div {
    font-size:1.2rem;
        padding:10px;
}
.rightbox > .search_title > div:nth-child(2){
    position: absolute;
    left:470px;
    color:rgb(30,90,30);
}
.order-button {
cursor:pointer;}




.academy_list{
  box-sizing: border-box;
  display:block;
}

.card_frame{
  border: 1px solid lightgray;
  transition: 0.3s;
  margin-bottom: 1rem;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.3125rem;
  list-style-type: none;
  margin-bottom: 15px;
}

.academy_box{
  cursor:pointer;
  display: flex;
  flex-wrap: no-wrap;
  margin-right: 60px;
  margin-left: 15px;
  align-items:center;
}

.academy_box > .img_box{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.academy_box > .img_box > img{
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
    border-radius: 50%;
    max-width: 100%;
    margin-left: 2rem;
}

.academy_box_text{
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.academy_box_text > .cardbody{
  padding: 1rem;
  vertical-align: top;
  display:flex;
  justify-content: space-between;
}

.academy_box_text > .cardbody > h3{
  max-width:80%;
}

.jjim{
  margin-right:15%;
}

.test {
color:red;
}


.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 40px 0;
   position: relative;
}

.pagination a {
  border:1px solid lightgray;
  border-radius:5px;
  display: block;
  width: 30px;
  height:30px;
  text-decoration: none;
  text-align: center;
  padding:5px;
  margin: 5px;
}
.pagination a:hover {
  color: rgb(30,90,30);
  border-color: rgb(30,90,30);
}
.pagination a.active {
color: rgb(30, 90, 30);
border-color: rgb(30, 90, 30);
}