body{
  padding:0;
  margin:0;
}
a{
  text-decoration: none;
  color:black;
}
button{border:0;background:inherit;}





.content{
border:1px solid red;
width:100%;
  min-width:1500px;
  margin-left:auto;
  margin-right:auto;
}

.content .list-header {
    border:1px solid red;
    position:relative;
    width:1100px;
    height:80px;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content .list-header .list-sub{
    font-size: 1.5rem;
    font-weight:bold;
}



.content .container{
   border:1px solid blue;
   width:1100px;
   height:200px;
   margin:0 auto;
   display:flex;
   justify-content:space-around;
   align-items:center;
}

.container .searchbox {
  border:1px solid green;
  width:1100px;
  display:flex;
  justify-content:space-between;
}
.container .searchbox .box1_input{
     font-size:1rem;
     width:600px;
     height:40px;
     border:1px solid rgb(30,90,30);
     border-radius:10px;
}
.container .searchbox .box2_sel {
     font-size:1rem;
     width:220px;
     height:100%;
     padding:auto 0;
     border:1px solid rgb(30,90,30);
     border-radius:10px;
     line-height:40px;
}

.container .searchbox .searchbtn{
    font-size:1rem;
    border-radius:10px;
    height:100%;
    width: 220px;
    background:lightgray;
    cursor:pointer;
}






.main_container{
    border:1px solid blue;
    width: 1100px;
    margin:0 auto;
    display:flex;
    position:relative;
}




.leftbox{
  position: relative;
  align-items:center;
  padding-right: 20px;
  padding-left: 20px;
  max-width: 25%;
  width: 100%;
}

.leftbox > .filter_detail{
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items:center;
  box-sizing: border-box;
}

.filter_detail > h5{
  font-size: 1.25rem;
  font-weight: 500;
  font-weight: bold;
  margin-left: 10px;
}

.reset_btn{
  color: #77838f;
  height:2rem;
  align-items:center;
  background-color: #fff;
  border:none;
  font-size: 0.8rem;
  font-weight: 900;
  line-height: 1.5;
}

.personnel{
  border: 1px solid #d5dae2;
  background-color: #fff;
  border-radius: 0.3125rem;
  padding-left:20px;
}

.ticket{
  border: 1px solid #d5dae2;
  background-color: #fff;
  border-radius: 0.3125rem;
  padding-left:20px;
}

.rightbox{
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 75%;
  width: 100%;
}

.rightbox > .search_title{
  display: flex;
  align-items:center;
  width:100%;
  justify-content: space-between;
  box-sizing: border-box;
}

.search_title > h5{
  font-size: 1.25rem;
  color: #77838f;
  font-weight: 500;
  font-weight: bold;
  margin-left: 10px;
}

.academy_list{
  box-sizing: border-box;
  display:block;
}

.card_frame{
  border: 1px solid #e7eaf3;
  transition: 0.3s;
  margin-bottom: 1rem;
  flex-direction: column;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.3125rem;
  list-style-type: none;
  margin-bottom: 15px;
}

.academy_box{
  cursor:pointer;
  display: flex;
  flex-wrap: no-wrap;
  margin-right: 60px;
  margin-left: 15px;
  align-items:center;
}

.academy_box > .img_box{
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.academy_box > .img_box > img{
    width: 5rem;
    height: 5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
    border-radius: 50%;
    max-width: 100%;
    margin-left: 2rem;
}

.academy_box_text{
    max-width: 83.33333%;
    flex: 0 0 83.33333%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.academy_box_text > .cardbody{
  padding: 1rem;
  vertical-align: top;
  display:flex;
  justify-content: space-between;
}

.academy_box_text > .cardbody > h3{
  max-width:80%;
}

.jjim{
  margin-right:15%;
}

.test {
color:red;
}