body {
  font-family: 'S-CoreDream-3Light';
  padding:0;
  margin:0;
}
a {
  text-decoration:none;
  color:inherit;
}
button {
  background: transparent;
  border:0;
  cursor:pointer;
}
li {
  list-style:none;
}
input {
  background: transparent;
  border:0;
  cursor:pointer;
}
select, textarea {
    border:0;
    cursor:pointer;
}

.content {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  background: transparent;
}

.top-btn{
  position:fixed;
  right:5%;
  bottom:0;
  display:flex;
  justify-content:center;
  padding-top:10px;
  width:50px;
  height:30px;
  background: white;
  border:1px solid seagreen;
  opacity:0.7;
}

.academy-top {
  display: flex;
  align-items:center;
  flex-wrap: wrap;
  position:relative;
  min-width:1100px;
  max-width:1100px;
  height:200px;
}
.academy-top .academy-logo{
  display:inline-block;
  margin-left:30px;
}
.academy-top .academy-logo img{
  width:130px;
  height:130px;
  object-fit:cover;
}
.academy-top .atop-items {
  display:inline-block;
  height:150px;
  vertical-align:top;
  margin:20px;
  margin-left:40px;
}
.academy-top .atop-items p:first-child {
  font-size:1.8rem;
  font-weight:bold;
  margin-top:20px;
}
.academy-top .atop-items p:last-child {
  margin-top:-15px;
}

.besides {
  display:inline-block;
  position:absolute;
  top:130px;
  right:30px;
}
.besides a {
  border-radius:50px;
}
.besides a img{
  margin: 5px;
  padding:3px;
  width:20px;
}







.academy-mid {
  display: flex;
  flex-wrap: wrap;
  min-width:1100px;
  max-width:1100px;
  border-top:1px solid lightgray;
  position:relative;
  z-index:0;
}
.academy-mid-1 {
  display:flex;
  width:100%;
  height:610px;
}
.academy-mid-1 .mid1-photo {
  min-width:550px;
  height:550px;
  margin:30px;
}
#img-slide{ width: 550px; margin: 0 auto;}
.album{
  height: 550px;
  width: 100%;
  overflow: hidden;
  position:relative;
}
.album .images{
    display: flex; height: 550px; width: 2560px;
    transition-property: transform;
    transition-duration: 1s;
}
.album .images .image img {
  width: 550px; height: 550px;
  object-fit:cover;
}

.album button{
    width: 50px; height: 50px; border:none;
    color: white; background-color: gray;
  opacity:0.2;
  position:relative;
  cursor:pointer;
}
.album button:disabled{
    background-color: gray;
}
.album .prev{ position:absolute; top:250px;}
.album .next{ position:absolute; top:250px; right:0;}


.reservation {
  height:550px;
  width:450px;
  margin-top:30px;
}
.reservation input {
    width:100%;
    padding:10px 0;
    margin-bottom:20px;
    text-align:center;
    border: 1px solid lightgray;
    font-size:1rem;
    color:black;
}
.reservation select{
  border:1px solid lightgray;
  padding:10px 0;
  width:100%;
  text-align:center;
   font-size:1rem;
  margin:20px 0;

}
.reservation .btn-r {
  font-size:1.2rem;
  font-weight:bold;
  width:100%;
  border:2px solid rgb(30, 90, 30);
  border-radius:5px;
  padding:10px;
  margin-top:6px;
}





.academy-mid-2 {
  width:100%;
  height: 330px;
}
.academy-mid-2 .teachers:first-child {
  font-size:1.3rem;
  font-weight:bold;
  padding-left:30px;
}
.academy-mid-2 .teachers:last-child {
    width:1030px;
    margin-top:30px;
    margin-left:30px;
}
#t-slide{ width: 1030px; margin: 0 auto;}
.t-album{
  overflow: hidden;
  position:relative;
}
.t-album .t-images{
    display: flex;
    transition-property: transform;
    transition-duration: 1s;
}
.t-album .t-images .t-image {
  padding: 0 20px;
  text-align:center;
  font-size:1rem;
  margin-bottom:10px;
  cursor:pointer;
  margin-bottom:10px;
}
.t-album .t-images .t-image img {
  width: 170px; height: 200px;
  object-fit:cover;
}

.t-album button{
    width: 30px; height: 50px; border:none;
    color: white; background-color: gray;
    opacity:0.3;
    position:relative;
    cursor:pointer;
}
.t-album button:disabled{
    background-color: transparent;
}
.t-album .t-prev{ position:absolute; top:100px;}
.t-album .t-next{ position:absolute; top:100px; right:0;}








.academy-mid-3 {
  width:100%;
  position:relative;
}
.academy-mid-3 .detail-btn {
  display:flex;
  position:sticky;
  top:0;
  justify-content:space-around;
  border-top:1px solid lightgray;
  border-bottom:1px solid lightgray;
  text-align:center;
   z-index:2;

}
.academy-mid-3 .detail-btn > a {
  background: white;
  font-size:1.1rem;
  font-weight:bold;
  width:100%;
  padding:7px;

}
.academy-mid-3 .detail-contents {
  min-height:500px;
  position:relative;
  z-index:1;
}

.academy-mid-3 .detail-contents .d-content {
  min-height:200px;
  position:relative;
  margin:0 30px;
}
.academy-mid-3 .detail-contents .d-content p{
  display:flex;
  justify-content:center;
}
.academy-mid-3 .detail-contents .d-content p:first-child {
  font-size: 1.1rem;
  justify-content:flex-start;
  padding-bottom:5px;
  border-bottom:1px solid lightgray;
}




.academy-mid-3 .detail-contents .d-content .review_box {
    width:90%;
    margin:0 auto;
margin-bottom:50px;
}

.academy-mid-3 .detail-contents .d-content .review-size{
    font-size: 1.2rem;
    font-weight:bold;
    padding:15px 0;
    margin-bottom: 20px;
}

.academy-mid-3 .detail-contents .d-content .review_box .review-items {
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    margin-bottom:30px;
    position:relative;
    padding:0;
}

.d-content .review_box .review-items li div {
    font-size:1rem;
    display:inline-block;
    padding-left:10px;
    margin-top:10px;
}
.d-content .review_box .review-items li div:first-child {
    border-right:1px solid lightgray;
    padding:0 15px ;
}

.d-content .review_box .review-items li div:nth-child(6) {
float:right;
 padding-right:10px;
}
.d-content .review_box .review-items li div:last-child {
    display:block;
    font-size:1rem;
    padding-top: 20px;
        padding-bottom:20px;
        min-height:100px;
        border-top:1px solid lightgray;
        border:2px solid red;
}
.review_box .review-items li div:nth-child(4) {
    width:50px;
    height:20px;
    margin:0;
    position:absolute;
     top:10px;
    right:150px;
    text-align:center;
    font-size:1rem;
}
.review_box .review-items li div:nth-child(5) {
    width:50px;
    height:20px;
    margin:0;
    position:absolute;
    top:10px;
    right:200px;
    text-align:center;
    font-size:1rem;

}




.d-content .review_box .pagination {
    display:flex;
    justify-content:center;
}
.d-content .review_box .pagination .page-item a {
  border:1px solid gray;
  display:inline-block;
  cursor:pointer;
  border-radius:10px;
  margin-left:10px;
  padding: 7px 12px;
  font-size:0.8rem;
}
.d-content .review_box .pagination .page-item:last-child{
    margin-right:10px;
}
.d-content .review_box .pagination .page-item a:hover {
  background: lightgray;
  color:white;
}





.d-content .review-create {
    width:90%;
    border:1px solid lightgray;
    border-radius:10px;
    margin:20px auto;
}
.d-content .review-create textarea {
    width:100%;
    background:transparent;
    border-top:1px solid lightgray;
    border-radius:0 0 10px 10px;
}
.d-content .review-create input {
    padding:10px 20px;
    font-size:1rem;
    float:right;
    border-left:1px solid lightgray;
}
.d-content .review-create select {
    padding:10px;
    border-right:1px solid lightgray;
    margin-left:5px;
}







.academy-btm {
  display: flex;
  flex-wrap: nowrap;
  border:2px solid green;
  width:1100px;
  height:500px;
}





.teacher-popup {
  display:none;
  z-index:999;
}
.teacher-popup .p-content {
  border:1px solid black;
  background: white;
  width:400px;
  min-height:500px;
  position:fixed;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
  border-radius:20px;
}

.teacher-popup .p-content .p-bg {
  position:relative;
}
.teacher-popup .p-content .p-bg img {
  width:400px;
  height:350px;
  object-fit:cover;
  position:relative;
  border-radius:20px;
}

.teacher-popup .p-content .p-bg .gradient {
  width: 400px;
  min-height: 300px;
  background: linear-gradient(to bottom, transparent, white 40%);
  position:absolute;
  top:200px;
  border-radius:20px;
}

.p-content .profile {
  position:relative;
  top:-150px;
  width:400px;
}
.p-content .profile .profile-item:first-child {
  font-size: 2rem;
  font-weight:bold;
  padding:30px;
  width:100%;
}
.p-content .profile .profile-item:nth-child(2){
  width:80%;
  min-height:100px;
  display:flex;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  margin-top:20px;
  align-items:center;

}

.p-content .profile-list {
  margin-top:-150px;
  padding-top:20px;
  border-top:1px solid lightgray;
  display:flex;
  flex-wrap:nowrap;
  justify-content:space-around;
  position:relative;
  margin-bottom:30px;
  font-weight:bold;
}
.p-content .profile-list li {
  font-weight:lighter;
  font-size:14px;
  padding-top: 10px;
}
.p-content .profile-list li:first-child{
  margin-top:10px;
}




.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}




@font-face {
    font-family: 'omyu_pretty';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: 300;
     font-style: normal;
}
