<link rel="stylesheet" type="text/css" th:href="@{/style.css}">

<section class="board">
  <div class="navbar">
    <!--  내비로고  -->
    <div class="nav-logo">
      <a href="#">
        <img src="https://velog.velcdn.com/images/jsr3643/board/f2aee5c5-f557-4c45-bee9-c8d9367a08be/image.jpg" alt="TesbroLogo">
      </a>
    </div>
    <!--  내비로고끝  -->
    <!--  내비바 메뉴 -->
    <ul class="nav-bar">
      <li class="nav-item">
        <a href="#">예약하기</a>
        <ul class="sub-bar">
          <li class="sub-mn">
            <a href="#">등록하기(기업)</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">학원조회</a>
        <ul class="sub-bar">
          <li class="sub-mn">
            <a href="#">내 주변</a>
          </li>
          <li class="sub-mn">
            <a href="#">수강권 구매</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="/board/notice">공지사항</a>
        <ul class="sub-bar">
          <li class="sub-mn">
            <a href="/board/event">이벤트</a>
          </li>
          <li class="sub-mn">
            <a href="/board/qna">문의하기</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="#">마이</a>
        <ul class="sub-bar">
          <li class="sub-mn">
            <a href="#">예약확인</a>
          </li>
          <li class="sub-mn">
            <a href="#">내 수강권</a>
          </li>
          <li class="sub-mn">
            <a href="#">마이페이지</a>
          </li>
        </ul>
      </li>
    </ul>
    <!--  내비바메뉴 끝  -->
  </div>
  <!-- 내비바 끝 -->



<section class="board">
  <div class="page-title">
    <div class="container">
      <h3>공지사항</h3>
    </div>
  </div>
  <!-- 게시판 -->
  <div id="board-list">
    <div class="container">
      <table class="board-table">
        <thead>
        <tr>
          <th scope="col" class="th-num">번호</th>
          <th scope="col" class="th-title">제목</th>
          <th scope="col" class="th-author">작성자</th>
          <th scope="col" class="th-date">작성일</th>
          <th scope="col" class="th-hit">조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="board, loop : ${paging}">
          <td th:text="${loop.index + 1}"></td>

          <td>
            <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.subject}"></a>
          </td>
          <td>
            <a th:href="@{|/board/detail/${board.id}|}" th:text="${board.content}"></a>
          </td>
          <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}">

          </td>

        </tr>
        </tbody>
      </table>

      <div class="pagination">
        <a th:href="@{|/board/${paging.content[0].boardCategory}/create|}" class="button">글쓰기</a>
        <a th:if="${paging.hasPrevious()}" th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.previousPageable().pageNumber}|}" class="prev">&lt;</a>
        <span class="current pager" th:text="${paging.number + 1}"></span>
        <a th:if="${paging.hasNext()}" th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.nextPageable().pageNumber}|}" class="next">&gt;</a>
      </div>
    </div>
  </div>
</section>

