<h1 th:text="${board.subject}">제목</h1>
<div th:text="${board.managerName}">작성자</div>
<div th:text="${board.content}">내용</div>

<h2>답변</h2>
<ul>
    <li th:each="answer : ${board.answers}" th:text="${answer.content}"></li>
</ul>

<form th:action="@{|/board/${board.BoardCategory}/detail/${board.id}|}" th:object="${answerForm}" method="post">
    <input type="hidden" th:field="*{boardId}" th:value="${board.id}" />
    <div>
        <label for="content">답변 작성:</label>
        <textarea id="content" name="content" rows="4" cols="50" th:field="*{content}"></textarea>
    </div>
    <button type="submit">답변 등록</button>
</form>

<a th:if="${board.boardCategory == 'notice'}" th:href="@{/board/notice}">돌아가기</a>
<a th:if="${board.boardCategory == 'qna'}" th:href="@{/board/qna}">돌아가기</a>
<a th:if="${board.boardCategory == 'event'}" th:href="@{/board/event}">돌아가기</a>


<a th:href="@{/board/modify/{id}(id=${board.id})}" class="btn btn-primary">수정하기</a>


<form th:action="@{'/board/delete/' + ${board.id}}" method="post">
    <input type="hidden" name="_method" value="DELETE" />
    <button type="submit">삭제</button>

</form>
