<link rel="stylesheet" type="text/css" th:href="@{/style.css}">
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>academy_detail</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<h1 class="academy_name" th:text="${academy.academyName}"></h1>
<h3 class="academy_ceo" th:text="${academy.ceoName}"></h3>
<h3 class="academy_si" th:text="${academy.academySi}"></h3>
<h3 class="academy_gu" th:text="${academy.academyGu}"></h3>
<h3 class="academy_dong" th:text="${academy.academyDong}"></h3>
<h3 class="academy_tel" th:text="${academy.academyTel}"></h3>
<h3 class="academy_introduction" th:text="${academy.introduction}"></h3>
<h3 class="academy_createdate" th:text="${#temporals.format(academy.createDate, 'yyyy-MM-dd HH:mm')}"></h3>

<h2>강사리스트</h2>
<div class="teacher-card" th:each="teacher, index : ${academy.teacherList}">
    <a th:href="@{|/teacher/${teacher.id}|}">
        <img src="https://picsum.photos/id/56/200/200" alt="teacherPic">
        <div th:text="${teacher.teacherName}"></div>
    </a>
</div>

<div>
    <select id="selectParentBoxList" name="selectParentBoxList">
        <option value="">== 날짜 선택 ==</option>
        <option th:each="date :${uniqueDateList}"
                th:value="${date}"
                th:text="${date}">
        </option>
    </select>
    <select id="childSelectBox" name="childSelectBox">
        <option value="">== 시간 선택 ==</option>
    </select>
    <button id="reserveButton">예약하기</button>
</div>
</body>


<script>
    $(document).ready(function() {
        $("#selectParentBoxList").change(function(){
            var thisParam = $(this).val();
            console.log(thisParam);
            $.ajax({
                url: "/multi_box_ajax",
                data : { "data" : thisParam },
                //dataType: "json",
                error: function(xhr, status, error) {
                    console.log('통신실패!!');
                    console.log('에러 메시지:', error);
                },
                success: function(response) {
                    console.log("통신성공!!");
                    console.log('서버 응답:', response);
                    // 2차 박스 업데이트
                    var childSelectBox = $("#childSelectBox");
                    childSelectBox.empty();
                    $.each(response, function(index, value) {
                        childSelectBox.append('<option value="' + value + '">' + value + '</option>');
                    });
                }
            });
        });

        $("#reserveButton").click(function() {
            var selectedDate = $("#selectParentBoxList").val();
            var selectedTime = $("#childSelectBox").val();
            console.log("선택한 날짜:", selectedDate);
            console.log("선택한 시간:", selectedTime);

            // 컨트롤러로 선택한 날짜와 시간 전송
            $.ajax({
                url: "/reserve",
                method: "POST",
                data: { "date": selectedDate, "time": selectedTime },
                //dataType: "json",
                error: function(xhr, status, error) {
                    console.log('통신실패!!');
                    console.log('에러 메시지:', error);
                },
                success: function(response) {
                    console.log("통신성공!!");
                    console.log('서버 응답:', response);
                    // 예약 결과 처리 등 추가 작업 수행
                }
            });
        });
    });
</script>
</html>