<link rel="stylesheet" type="text/css" th:href="@{/academyForm.css}">
<div layout:fragment="content" class="container">
    <div class="title">학원 등록하기</div>
    <form th:action="@{/academy/create}" method="post" th:object="${AcademyForm}">
        <div class="mb-3">
            <label for="academyName" class="form-label">학원이름</label>
            <input type="text" th:field="*{academyName}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="ceoName" class="form-label">대표</label>
            <input type="text" th:field="*{ceoName}" class="form-control">
        </div>
        <div class="mb-3">
            <label for="academyTel" class="form-label">전화번호</label>
            <textarea th:field="*{academyTel}" class="form-control" rows="10"></textarea>
        </div>
        <div class="mb-3">
            <label for="introduction" class="form-label">학원소개</label>
            <textarea th:field="*{introduction}" class="form-control" rows="20"></textarea>
        </div>
        <div class="mb-3">
            <label for="imgLogo" class="form-label">학원로고</label>
            <textarea th:field="*{imgLogo}" class="form-control" rows="10"></textarea>
        </div>
        <div class="input-item">
            <label for="address" class="form-label">주소</label>
            <input type="text" id="address_kakao" name="address" readonly placeholder="주소 검색"/>
        </div>
        <div>
            <input type="submit" value="저장하기" class="save">
        </div>
    </form>
</div>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
window.onload = function(){
document.getElementById("address_kakao").addEventListener("click", function(){ //주소입력칸을 클릭하면
//카카오 지도 발생
new daum.Postcode({
oncomplete: function(data) { //선택시 입력값 세팅
document.getElementById("address_kakao").value = data.address; // 주소 넣기
document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
}
}).open();
});
}
</script>