<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>academy_detail</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style_academy.css}">
</head>
<body>
<div layout:fragment="content" class="aContainer">
    <!--        이름이랑 정보 요약&찜/공유      -->
    <div class="content">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <link href="/datepicker.min.css" rel="stylesheet" type="text/css" media="all">
        <!-- Air datepicker css -->
        <script src="/datepicker.js"></script> <!-- Air datepicker js -->
        <script src="/datepicker.ko.js"></script>


        <!--팝업에러 파트-->
        <!-- Add this HTML within your page -->
        <div id="popupModal" class="modal" th:if="${popupMessage}">
            <div class="modal-content">
                <span class="close">&times;</span>
                <p th:text="${popupMessage}"></p>
            </div>
        </div>


        <a href="#top">
            <div class="top-btn">▲</div>
        </a>
        <div class="teacher-popup">
            <div class="p-content">
                <div class="p-bg">
                    <img src="https://cdn.pixabay.com/photo/2020/06/10/07/05/yoga-5281457_640.jpg" alt="teacher-pic">
                    <div class="gradient"></div>
                </div>

                <div class="profile">
                    <div class="profile-item" id="teacherNameDisplay"></div>
                    <div class="profile-item" id="teacherIntroDisplay"></div>
                </div>

                <div class="profile-list">
                    <div class="list-item">경력사항
                        <ul>
                            <li id="teacherQualifyDisplay"></li>
                        </ul>
                    </div>
                    <div class="list-item">수상내역
                        <ul>
                            <li id="teacherAwardsDisplay"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="academy-top">

            <div class="top-box">
                <div class="academy-logo">
                    <img src="https://m.designdaldal.com/web/product/big/202010/b7ac46136b68f51a05c904c378bed2d8.jpg"
                         alt="academy-logo">
                </div>
                <div class="atop-items">
                    <p class="academy_name" th:text="${academy.academyName}"></p>
                    <p th:text="${academy.ceoName}"></p>
                    <p th:text="${academy.academyTel}"></p>
                </div>
                <div class="besides">
                    <a href="javascript:void(0);" id="share-link">
                        <img src="https://cdn-icons-png.flaticon.com/128/1358/1358023.png" alt="share-icon">
                    </a>
                    <div id="copy-message">URL이 복사되었습니다.</div>
                    <a href="javascript:void(0);" class="like"
                       th:data-uri="@{|/academy/vote/${academy.id}|}">
                        <img src="https://cdn-icons-png.flaticon.com/128/4485/4485449.png" alt="like-icon">
                        <img src="https://cdn-icons-png.flaticon.com/128/3670/3670159.png" alt="like-icon"
                             style="display:none;">
                        <span class="badge" th:text="${#lists.size(academy.voter)}"></span>
                    </a>
                </div>
            </div>
        </div>


        <div class="academy-mid">

            <!--        학원 메인 이미지 & 예약하기      -->
            <div class="academy-mid-1">
                <div class="mid1-photo">
                    <div id="img-slide">
                        <div class="album">
                            <div class="images">
                                <div class="image"><img
                                        src="https://modo-phinf.pstatic.net/20220525_83/16534690458594sW2G_JPEG/mosapKNRYq.jpeg?type=w720"
                                        alt="">
                                </div>
                                <div class="image"><img
                                        src="https://modo-phinf.pstatic.net/20220525_50/1653469046450KABSh_JPEG/mosa7CbDRb.jpeg?type=w720"
                                        alt="">
                                </div>
                                <div class="image"><img
                                        src="https://modo-phinf.pstatic.net/20220525_204/1653469045466p8VWE_JPEG/mosaqccN0t.jpeg?type=w720"
                                        alt="">
                                </div>
                                <div class="image"><img
                                        src="https://modo-phinf.pstatic.net/20220525_263/16534690449627vkst_JPEG/mosaannwSa.jpeg?type=w720"
                                        alt="">
                                </div>
                            </div>
                            <button class="prev">◀</button>
                            <button class="next">▶</button>
                        </div>
                    </div>
                </div>

                <div class="reservation">
                    <form th:action="@{|/reserve/${academy.id}|}" method="post">
                        <input type="text" id="datePicker" name="datePicker">

                        <select id="childSelectBox" name="childSelectBox">
                            <option value="">== 시간 선택 ==</option>
                        </select>

                        <button type="submit" class="btn-r" id="reserveButton">예약하기</button>
                    </form>
                </div>
            </div>


            <!--        강사리스트 구간      -->
            <div class="academy-mid-2">
                <div class="teachers">강사리스트</div>
                <div class="teachers">
                    <div id="t-slide">
                        <div class="t-album">
                            <div class="t-images">
                                <div class="t-image" th:each="teacher, index : ${academy.teacherList}">
                                    <a onclick="getTeacherId(this)">
                                        <img th:src="${teacher.imgLogo}" alt="">
                                        <div th:text="${teacher.teacherName}"></div>
                                        <input type="hidden" th:value="${teacher.teacherName}" id="teacherName"/>
                                        <input type="hidden" th:value="${teacher.introduction}" id="teacherIntro"/>
                                        <input type="hidden" th:value="${teacher.qualifications}" id="teacherQualify"/>
                                        <input type="hidden" th:value="${teacher.awards}" id="teacherAwards"/>
                                    </a>
                                </div>
                            </div>
                            <button class="t-prev">◀</button>
                            <button class="t-next">▶</button>
                        </div>
                    </div>
<!--                    <form th:action="@{/teacher/create/{id}(id=${academy.id})}" th:object="${teacherForm}" method="get"-->
<!--                          class="teacher-create">-->
<!--                        <input type="submit" value="강사등록">-->
<!--                    </form>-->
                </div>
            </div>


            <!--        학원 상세정보 구간      -->
            <div class="academy-mid-3">
                <div class="detail-btn">
                    <a href="#학원소개">학원소개</a>
                    <a href="#수업정보">수업정보</a>
                    <a href="#취소환불">취소/환불 규정</a>
                    <a href="#후기">후기</a>
                </div>
                <div class="detail-contents">
                    <div id="학원소개" class="d-content">
                        <p>학원소개</p>
                        <p th:text="${academy.introduction}"></p>
                        <img src="https://static.wixstatic.com/media/1830b0_8875795da2c34a48aab3e3a632a84587~mv2.jpg/v1/crop/x_0,y_0,w_1366,h_7532/fill/w_979,h_5398,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/about-us-%EC%9B%90%EC%9E%A5%EC%86%8C%EA%B0%9C.jpg"
                             alt="" width="900px">

                    </div>
                    <div id="수업정보" class="d-content">
                        <p>수업정보</p>
                        <img src="https://static.wixstatic.com/media/1830b0_d82b8ddae8544b6c80c614035e31bbba~mv2.png/v1/fill/w_897,h_676,al_c,q_90,enc_auto/%EC%9A%B4%EC%98%81%EC%8B%9C%EA%B0%841.png"
                             alt="" width="900px">

                    </div>
                    <div id="취소환불" class="d-content">
                        <p>취소/환불 규정</p>
                        <p>환불 절대 불가</p>
                        <p>취소도 불가</p>
                    </div>
                    <div id="후기" class="d-content">
                        <p>후기</p>
                        <form th:action="@{|/review/create/${academy.id}|}" th:object="${reviewForm}" method="post"
                              class="review-create">


                            <select name="star_rating" id="star_rating">
                                <option value="5">⭐⭐⭐⭐⭐</option>
                                <option value="4">⭐⭐⭐⭐</option>
                                <option value="3">⭐⭐⭐</option>
                                <option value="2">⭐⭐</option>
                                <option value="1">⭐</option>
                            </select>
                            <input type="submit" value="리뷰등록">
                            <textarea name="content" id="content" rows="12"></textarea>

                        </form>


                        <div class="review_box">
                            <div class="review-size" th:text="|${#lists.size(academy.reviewList)}개의 후기가 있습니다.|"></div>
                            <ul class="review-items" th:each="review : ${paging}">
                                <a th:id="|review_${review.id}|"></a>
                                <li>
                                    <div th:if="${review.userId != null}" th:text="${review.userId.username}"></div>
                                    <div>
                                        <span th:if="${review.star_rating == 1}">⭐</span>
                                        <span th:if="${review.star_rating == 2}">⭐⭐</span>
                                        <span th:if="${review.star_rating == 3}">⭐⭐⭐</span>
                                        <span th:if="${review.star_rating == 4}">⭐⭐⭐⭐</span>
                                        <span th:if="${review.star_rating == 5}">⭐⭐⭐⭐⭐</span>
                                    </div>

                                    <div>
                                        <a href="javascript:void(0);" class="recommend"
                                           th:data-uri="@{|/review/vote/${review.id}|}">
                                            추천
                                            <span class="badge" th:text="${#lists.size(review.voter)}"></span>
                                        </a>
                                    </div>


                                    <!--        수정 -->
                                    <div>
                                        <a href="#" class="modify-link"
                                           th:data-review-id="${review.id}"
                                           th:data-review-content="${review.content}"
                                           th:data-review-username="${review.userId.username}"
                                           sec:authorize="isAuthenticated()"
                                           th:if="${review.userId != null and #authentication.getPrincipal().getUsername() == review.userId.username}"
                                           th:text="수정">
                                        </a>
                                    </div>


                                    <!--        삭제 -->
                                    <div>
                                        <a href="javascript:void(0);" th:data-uri="@{|/review/delete/${review.id}|}"
                                           class="delete" sec:authorize="isAuthenticated()"
                                           th:if="${review.userId != null and #authentication.getPrincipal().getUsername() == review.userId.username}"
                                           th:text="삭제"></a>
                                    </div>


                                    <div th:text="${#temporals.format(review.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                                    <div th:text="${review.content}"></div>
                                </li>
                            </ul>


                            <div th:if="${!paging.isEmpty()}">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item">
                                        <a class="page-link" th:if="${paging.hasPrevious()}"
                                           th:href="@{|?page=${paging.number-1}|}">
                                            <span>이전</span>
                                        </a>
                                    </li>
                                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                                        th:if="${page >= paging.number-2 and page <= paging.number+2}"
                                        class="page-item">
                                        <a th:text="${page}+1" class="page-link" th:href="@{|?page=${page}|}"></a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" th:if="${paging.hasNext()}"
                                           th:href="@{|?page=${paging.number+1}|}">
                                            <span>다음</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


        <!--같은 동 다른 학원 목록. 이전 목록으로 가기 등등-->
        <div class="academy-btm">
            <div class="bottom-box">
                <div class="map">위치보기</div>
            <div id="map"></div>
            </div>
        </div>


        <script>
        $(document).ready(function() {
  $("#share-link").click(function() {
    var dummy = document.createElement('input');
    var text = window.location.href;

    document.body.appendChild(dummy);
    dummy.value = text;
    dummy.select();
    document.execCommand('copy');
    document.body.removeChild(dummy);

    $("#copy-message").show().delay(2000).fadeOut(1000);
  });
});







  document.querySelectorAll('.modify-link').forEach(link => {
  link.addEventListener('click', function(event) {
    event.preventDefault(); // 페이지 리로드 방지
    const reviewId = event.target.getAttribute('data-review-id');
    const reviewContent = event.target.getAttribute('data-review-content');
    const reviewUsername = event.target.getAttribute('data-review-username');
    openModifyPopup(reviewId, reviewContent, reviewUsername);
  });
});

  function openModifyPopup(reviewId, reviewContent) {
   localStorage.setItem("reviewContent", reviewContent);
    var url = "/review/modify/" + reviewId;
    var windowFeatures = "width=600, height=300, location=no, status=no, toolbar=no, scrollbars=yes";
    const popup = window.open(url, "modifyReviewPopup", windowFeatures);

    popup.onbeforeunload = function () {
      location.reload();
    };


  }

        </script>


        <script>
    $(document).ready(function() {
      var popupModal = $("#popupModal");
      var closeBtn = $(".close");

      if (popupModal.length) {
        popupModal.show();
      }

      if (closeBtn.length) {
        closeBtn.on("click", function() {
          popupModal.hide();
        });
      }
    });

        </script>

        <script th:src="@{/academy.js}"></script>
        <script>
    $("#datePicker").datepicker({
       language: 'ko',
       onSelect: function(dateString) {
                var thisParam = dateString;
                $.ajax({
                    url: "/multi_box_ajax",
                    data : { "data" : thisParam },
                    //dataType: "json",
                    error: function(xhr, status, error) {
                        console.log('통신실패!!');
                        console.log('에러 메시지:', error);
                    },
                    success: function(response) {
                        console.log("통신성공!!");
                        console.log('서버 응답:', response);
                        // 2차 박스 업데이트
                        var childSelectBox = $("#childSelectBox");
                        childSelectBox.empty();
                        $.each(response, function(index, value) {
                            childSelectBox.append('<option value="' + value + '">' + value + '</option>');
                        });
                    }
                });

         }
    })

    function getTeacherId(element) {
        var teacherName = element.querySelector('#teacherName').value;
        var teacherIntro = element.querySelector('#teacherIntro').value;
        var teacherQualify = element.querySelector('#teacherQualify').value;
        var teacherAwards = element.querySelector('#teacherAwards').value;


        document.getElementById('teacherNameDisplay').textContent = teacherName;
        document.getElementById('teacherIntroDisplay').textContent = teacherIntro;
        var teacherQualifyDisplay = document.getElementById('teacherQualifyDisplay');
        if (teacherQualifyDisplay) {
            teacherQualifyDisplay.textContent = teacherQualify;
        }
        var teacherAwardsDisplay = document.getElementById('teacherAwardsDisplay');
        if (teacherAwardsDisplay) {
            teacherAwardsDisplay.textContent = teacherAwards;
        }

        document.getElementById('starRatingDisplay').textContent = starRating;
        var starRatingDisplay = document.getElementById('starRatingDisplay');
        if (starRatingDisplay) {
            starRatingDisplay.textContent = starRating;
            console.log(starRating);
        }
    }

        </script>

        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=794a40541300254bb5698381e1789213&libraries=services"></script>
        <script>
var mapContainer = document.getElementById('map'), // 지도를 표시할 div
    mapOption = {
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

// 지도를 생성합니다
var map = new kakao.maps.Map(mapContainer, mapOption);

// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
var address = document.querySelector('.academy_address').innerText;
geocoder.addressSearch(address, function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다

        var marker = new kakao.maps.Marker({
            map: map,
            position: coords
        });

        // 인포윈도우로 장소에 대한 설명을 표시합니다
        var infowindow = new kakao.maps.InfoWindow({
            content: '<div style="width:150px;text-align:center;padding:6px 0;">' + document.querySelector('.academy_name').innerText + '</div>'
        });
        infowindow.open(map, marker);

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    }
});


        </script>

        <!--  삭제  -->
        <!--  삭제  -->
        <script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
        const modify_elements = document.getElementsByClassName("modify");
    Array.from(modify_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 수정하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
        const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
            const like_elements = document.getElementsByClassName("like");
    Array.from(like_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 찜 하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

        </script>

    </div>
</div>
</body>
</html>