<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script th:inline="javascript">
    function goPopup() {
      var pop = window.open("/jusoPopup.html", "pop", "width=570,height=420,scrollbars=yes,resizable=yes");
    }
    function jusoCallBack(roadFullAddr, roadAddrPart1, addrDetail, roadAddrPart2, engAddr, jibunAddr, zipNo, admCd,
        rnMgtSn, bdMgtSn, detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm,
        buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo) {
      document.getElementById('roadFullAddr').value = roadFullAddr;
      document.getElementById('roadAddrPart1').value = roadAddrPart1;
      document.getElementById('roadAddrPart2').value = roadAddrPart2;
      document.getElementById('addrDetail').value = addrDetail;
      document.getElementById('zipNo').value = zipNo;
    }
  </script>
</head>
<body>
<form th:name="form" id="form" method="post">
  <input type="button" onclick="goPopup();" value="팝업"/>
  도로명주소 전체(포맷)<input type="text" id="roadFullAddr" th:name="roadFullAddr" /><br>
  도로명주소 <input type="text" id="roadAddrPart1" th:name="roadAddrPart1" /><br>
  고객입력 상세주소<input type="text" id="addrDetail" th:name="addrDetail" /><br>
  참고주소<input type="text" id="roadAddrPart2" th:name="roadAddrPart2" /><br>
  우편번호<input type="text" id="zipNo" th:name="zipNo" />
</form>
</body>
</html>
