<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/style1.css}">
  <title>게시판</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>

<div class="notice-section">
  <div class="container">
    <div class="notice-header">
      <h3 class="notice-title">공지사항</h3>
<!--      <h3 class="notice-title" th:if="${board.BoardCategory == 'notice'}">공지사항</h3>-->
<!--      <h3 class="notice-title" th:if="${board.BoardCategory == 'qna'}">문의하기</h3>-->
<!--      <h3 class="notice-title" th:if="${board.BoardCategory == 'event'}">이벤트</h3>-->

      <!-- 정렬 버튼들 -->
      <div class="order-buttons">
        <button class="order-button" onclick="handleOrderChange('outdated')">오래된순</button>
        <button class="order-button" onclick="handleOrderChange('views')">조회순</button>
        <button class="order-button" onclick="handleOrderChange('recommend')">추천순</button>
        <button class="order-button" onclick="handleOrderChange('comments')">댓글순</button>
      </div>
      <!-- 정렬 버튼들 끝 -->
    </div>

    <!-- 검색 -->
    <form class="search-form" th:action="@{/board/search}" method="get">
      <input type="text" name="keyword" placeholder="검색어를 입력하세요">
      <button type="submit">검색</button>
    </form>
    <!-- 검색 끝 -->
  </div>
</div>


<div id="board-list">
  <div class="container">
    <table class="board-table">
      <thead>
      <tr>
        <th scope="col" class="th-num">번호</th>
        <th scope="col" class="th-title">제목</th>
        <th scope="col" class="th-author">작성자</th>
        <th scope="col" class="th-date">작성일</th>
        <th scope="col" class="th-hit">조회</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board, loop : ${paging}">
        <td th:text="${paging.totalElements - (paging.pageable.pageNumber * paging.pageable.pageSize) - loop.index}"></td>
        <td>
          <a th:href="@{|/board/${board.BoardCategory}/detail/${board.id}|}" th:text="${board.subject}"></a>
        </td>
        <td>
          <span th:if="${board.author != null}" th:text="${board.author.username}"></span>
        </td>
        <td th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${board.views}"></td>
      </tr>
      </tbody>
    </table>
    <div class="pagination">
      <a th:href="@{|/board/${paging.content[0].boardCategory}/create|}" class="button">글쓰기</a>
      <a th:if="${paging.hasPrevious()}" th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.previousPageable().pageNumber}|}" class="prev">&lt;</a>
      <span th:if="${paging.number >= 2}">
          <a th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.number - 2}|}" class="pager" th:text="${paging.number - 1}"></a>
        </span>
      <span th:if="${paging.number >= 1}">
          <a th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.number - 1}|}" class="pager" th:text="${paging.number}"></a>
        </span>
      <span class="current pager" th:text="${paging.number + 1}"></span>
      <span th:if="${paging.number + 1 < paging.totalPages}">
          <a th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.number + 1}|}" class="pager" th:text="${paging.number + 2}"></a>
        </span>
      <span th:if="${paging.number + 2 < paging.totalPages}">
          <a th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.number + 2}|}" class="pager" th:text="${paging.number + 3}"></a>
        </span>
      <a th:if="${paging.hasNext()}" th:href="@{|/board/${paging.content[0].boardCategory}?page=${paging.nextPageable().pageNumber}|}" class="next">&gt;</a>
    </div>
  </div>
</div>

<script>
    function handleOrderChange(selectedOption) {
      var currentUrl = window.location.href;
      var updatedUrl;

      if (currentUrl.includes("?")) {
        if (currentUrl.includes("order=")) {
          updatedUrl = currentUrl.replace(/order=[^&]+/, "order=" + selectedOption);
        } else {
          updatedUrl = currentUrl + "&order=" + selectedOption;
        }
      } else {
        updatedUrl = currentUrl + "?order=" + selectedOption;
      }

      window.location.href = updatedUrl;
    }
  </script>
</body>
</html>
