<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>board_detail</title>
</head>


<body>

<div  layout:fragment="content"class="noticeContainer">
    <link rel="stylesheet" type="text/css" th:href="@{/boardDetail.css}">
    <div class="container">
        <div class="notice-header">
            <div class="notice-sub">공지사항</div>
        </div>
        <div class="notice-box">
            <div th:text="${board.subject}"></div>
            <div class="content2" th:text="${board.content}"></div>
            <a href="javascript:void(0);" class="recommend"
               th:data-uri="@{|/board/vote/${board.id}|}">
                추천
                <span class="badge" th:text="${#lists.size(board.voter)}"></span>
            </a>
        </div>


        <div class="back-btn">
            <a th:if="${board.boardCategory == 'notice'}" th:href="@{/board/notice}" class="btn btn-primary">목륵</a>

        </div>
    </div>




    <script>
    function confirmDelete() {
        var result = confirm("삭제하시겠습니까?");
        return result;
    }
    const recommend_elements = document.getElementsByClassName("recommend");
    Array.from(recommend_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("추천하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>

</div>
</body>
</html>