<!DOCTYPE html>
<html>
<div th:fragment="jusoFragment" class="juso">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>주소 입력 샘플</title>
</head>
<body>
<form name="form" id="form" method="post">
  <table>
    <colgroup>
      <col style="width:20%"><col>
    </colgroup>
    <tbody>
    <tr>
      <th>우편번호</th>
      <td>
        <input type="hidden" id="confmKey" name="confmKey" value="">
        <input type="text" id="zipNo" name="zipNo" readonly style="width:100px">
        <input type="button" value="주소검색" onclick="goPopup();">
      </td>
    </tr>
    <tr>
      <th>도로명주소</th>
      <td><input type="text" id="roadAddrPart1" style="width:85%"></td>
    </tr>
    <tr>
      <th>상세주소</th>
      <td>
        <input type="text" id="addrDetail" style="width:40%" value="">
        <input type="text" id="roadAddrPart2" style="width:40%" value="">
      </td>
    </tr>
    </tbody>
  </table>
</form>
</body>
<script>
document.domain = "board/address";
function goPopup(){
    var pop = window.open("/board/address2","pop","width=570,height=420, scrollbars=yes, resizable=yes");
}

function jusoCallBack(roadFullAddr, roadAddrPart1, addrDetail, roadAddrPart2, engAddr, jibunAddr, zipNo, admCd, rnMgtSn, bdMgtSn, detBdNmList, bdNm, bdKdcd, siNm, sggNm, emdNm, liNm, rn, udrtYn, buldMnnm, buldSlno, mtYn, lnbrMnnm, lnbrSlno, emdNo){
    document.form.roadAddrPart1.value = roadAddrPart1;
    document.form.roadAddrPart2.value = roadAddrPart2;
    document.form.addrDetail.value = addrDetail;
    document.form.zipNo.value = zipNo;
}
</script>
</div>
</html>
