<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
</head>
<body>
<div>
    <select id="selectParentBoxList" name="selectParentBoxList">
        <option value="">== 날짜 선택 ==</option>
        <option th:each="date :${uniqueDateList}"
                th:value="${date}"
                th:text="${date}">
        </option>
    </select>
    <select id="childSelectBox" name="childSelectBox">
        <option value="">== 시간 선택 ==</option>
        <option th:each="time :${lessonTimeList}"
                th:value="${time.lessonTime}"
                th:text="${time.lessonTime}">
        </option>
    </select>
</div>
</body>
<script>
$(document).ready(function() {
  $("#selectParentBoxList").change(function(){
    var thisParam = $(this).val();
    console.log(thisParam)
    $.ajax({
      url: "/multi_box_ajax",
      data : {"data" : thisParam},
      //dataType:"json",
      error: function(xhr, status, error) {
        console.log('통신실패!!');
        console.log('에러 메시지:', error);
      },
      success: function(response) {
        console.log("통신성공!!");
        console.log('서버 응답:', response);
      }
    });
  });
});
</script>
</html>