<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div layout:fragment="content" class="content">
    <script src="https://code.jquery.com/jquery-latest.min.js" type="application/javascript"></script>
    <script type="application/javascript"
            src="https://zelkun.tistory.com/attachment/cfile8.uf@99BB7A3D5D45C065343307.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/styleY.css}" xmlns="">
    <script type="text/javascript" src="hangjungdong.js"></script>


    <div class="list-header">
        <div class="list-sub">학원 찾기</div>
    </div>


    <div class="container">
        <form th:action="@{/academy/list}">
            <div class="searchbox">
                <div class="box1">
                    <input type="text" class="box1_input" name="keyword" th:value="${keyword}" value
                           placeholder="우리 동네 학원을 찾아보세요">
                </div>
                <div class="box2">
                    <div class="box2_sel">
                        지역 선택
                    </div>
                </div>
                <div class="box3">
                    <button class="searchbtn" type="submit">
                        검색하기
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- 검색 박스 끝 -->



    <div class="main_container">
        <div class="leftbox">
            <div class="filter_detail">
                <div>상세 검색</div>
                <button class="reset_btn">
                    초기화
                </button>
            </div>
            <div class="filter-box">
                <div>수강 인원</div>
                <ul class="filter-item">
                    <li><input type="checkbox" value="1인">1인</li>
                    <li><input type="checkbox" value="2~4인">2~4인</li>
                    <li><input type="checkbox" value="5~10인">5~10인</li>
                    <li><input type="checkbox" value="10인 이상">10인 이상</li>
                </ul>
            </div>
            <div class="filter-box">
                <div>수강권</div>
                <ul class="filter-item">
                    <li><input type="checkbox" value="STANDARD">STANDARD</li>
                    <li><input type="checkbox" value="PREMIUM">PREMIUM</li>
                    <li><input type="checkbox" value="what">등급을어캐나누지</li>
                </ul>
            </div>
        </div>




        <!--  오른쪽박스 시작-->
        <div class="rightbox">
            <!--    검색된 학원수랑 정렬버튼 시작-->
            <div class="search_title">
                <div>검색된 학원 수 :</div>
                <div  th:text="${academyCount}"></div>


                <div class="order-buttons">
                    <button class="order-button" onclick="handleOrderChange('review')">리뷰순</button>
                    <button class="order-button" onclick="handleOrderChange('voter')">추천순</button>
                </div>
            </div>

            <!--    검색된 학원수랑 정렬버튼 끝-->
            <div class="academy_list" th:each="academy : ${paging}">
                <a th:href="@{|/academy/detail/${academy.id}|}">
                    <li class="card_frame">
                        <div class="academy_box">
                            <div class="img_box">
                                <img th:src="${academy.imgLogo}" alt="">
                            </div>
                            <!--img_box 종료 -->
                            <!--아카데미 안에 들어갈 글씨랑 찜까지 시작-->
                            <div class="academy_box_text">
                                <div class="cardbody">
                                    <div class="info">
                                        <h3 th:text="${academy.academyName}"></h3>
                                    </div>
                                    <div class="voter">
                                        <img src="https://cdn-icons-png.flaticon.com/128/1077/1077035.png" style="width:20px; vertical-align:middle" alt="like-icon">
                                        <td th:text="${#lists.size(academy.voter)}"></td>
                                        <div class="review">
                                            <img src="https://cdn.icon-icons.com/icons2/2066/PNG/512/comments_icon_125320.png" style="width:20px; vertical-align:middle" alt="review-icon">
                                            <td th:text="${#lists.size(academy.reviewList)}"></td>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--아카데미 안에 들어갈 글씨랑 찜까지 끝-->
                        </div>
                        <!--오른쪽박스 끝-->
                    </li>
                </a>

            </div>
            <!--    아카데미 리스트 끝-->
            <!-- 페이징처리 시작 -->
            <div th:if="${!paging.isEmpty()}">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:if="${paging.hasPrevious()}"
                           th:href="@{|?page=${paging.number-1}|}">
                            <span><</span>
                        </a>
                    </li>
                    <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                        th:if="${page >= paging.number-5 and page <= paging.number+5}"
                        th:classappend="${page == paging.number} ? 'active'"
                        class="page-item">
                        <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:if="${paging.hasNext()}"  th:href="@{|?page=${paging.number+1}|}">
                            <span>></span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- 페이징처리 끝 -->
        </div>
    </div>
    <script>
jQuery(document).ready(function(){
//sido option 추가
jQuery.each(hangjungdong.sido, function(idx, code){
//append를 이용하여 option 하위에 붙여넣음
jQuery('#sido').append(fn_option(code.sido, code.codeNm));
});

//sido 변경시 시군구 option 추가
jQuery('#sido').change(function(){
jQuery('#sigugun').show();
jQuery('#sigugun').empty();
jQuery('#sigugun').append(fn_option('','선택')); //
jQuery.each(hangjungdong.sigugun, function(idx, code){
if(jQuery('#sido > option:selected').val() == code.sido)
jQuery('#sigugun').append(fn_option(code.sigugun, code.codeNm));
});

//세종특별자치시 예외처리
//옵션값을 읽어 비교
if(jQuery('#sido option:selected').val() == '36'){
jQuery('#sigugun').hide();
//index를 이용해서 selected 속성(attr)추가
//기본 선택 옵션이 최상위로 index 0을 가짐
jQuery('#sigugun option:eq(1)').attr('selected', 'selected');
//trigger를 이용해 change 실행
jQuery('#sigugun').trigger('change');
}
});

//시군구 변경시 행정동 옵션추가
jQuery('#sigugun').change(function(){
//option 제거
jQuery('#dong').empty();
jQuery.each(hangjungdong.dong, function(idx, code){
if(jQuery('#sido > option:selected').val() == code.sido && jQuery('#sigugun > option:selected').val() == code.sigugun)
jQuery('#dong').append(fn_option(code.dong, code.codeNm));
});
//option의 맨앞에 추가
jQuery('#dong').prepend(fn_option('','선택'));
//option중 선택을 기본으로 선택
jQuery('#dong option:eq("")').attr('selected', 'selected');

});

jQuery('#dong').change(function(){
var sido = jQuery('#sido option:selected').val();
var sigugun = jQuery('#sigugun option:selected').val();
var dong = jQuery('#dong option:selected').val();
var dongCode = sido + sigugun + dong + '00';
});
});

function fn_option(code, name){
return '<option value="' + code +'">' + name +'</option>';
}

jQuery.ajax({
  type: 'POST',
  url: '/academy/list',
  data: { sido: sido, sigugun: sigugun, dong: dong },
  success: function(response) {
    // Handle the successful response
    console.log('AJAX request succeeded');
    console.log('Response:', response);

    // Perform actions based on the response data
    // Update the UI, display a success message, etc.
  },
  error: function(error) {
    // Handle the error response
    console.error('AJAX request failed');
    console.error('Error:', error);

    // Display an error message to the user
    // or perform any necessary error handling
  }
  });



</script>

    <script>
    function handleOrderChange(selectedOption) {
      var currentUrl = window.location.href;
      var updatedUrl;

      if (currentUrl.includes("?")) {
        if (currentUrl.includes("order=")) {
          updatedUrl = currentUrl.replace(/order=[^&]+/, "order=" + selectedOption);
        } else {
          updatedUrl = currentUrl + "&order=" + selectedOption;
        }
      } else {
        updatedUrl = currentUrl + "?order=" + selectedOption;
      }

      window.location.href = updatedUrl;
    }
  </script>

</div>
</body>
</html>