<!--<html layout:decorate="~{layout}">-->
<!--<div layout:fragment="content" class="container">-->
<!--  <h5>답변 수정</h5>-->
<!--  <form th:action="@{|/review/create/${academy.id}|}" th:object="${reviewForm}" method="post">-->
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
<!--    <div th:replace="~{form_errors :: formErrorsFragment}"></div>-->

<!--    <select name="star_rating" id="star_rating">-->
<!--      <option value="5">⭐⭐⭐⭐⭐</option>-->
<!--      <option value="4">⭐⭐⭐⭐</option>-->
<!--      <option value="3">⭐⭐⭐</option>-->
<!--      <option value="2">⭐⭐</option>-->
<!--      <option value="1">⭐</option>-->
<!--    </select>-->
<!--    <input type="submit" value="리뷰등록">-->
<!--    <textarea name="content" id="content" rows="12"></textarea>-->

<!--  </form>-->
<!--</div>-->
<!--</html>-->
<h2>whyrano</h2>