<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수강권</title>

</head>
<body>
<div layout:fragment="content" class="content">
    <link rel="stylesheet" type="text/css" th:href="@{/style_ticket_home.css}">
    <div class="container">
        <div class="top-box">수강권</div>
        <div class="middle-box">
            <div class="left-box">
                <h3>수강권구매</h3>
                <div class="ticket-box">
                    <ul class="select-ticket">
                        <li class="ticket-item">
                            <input type="checkbox" name="check" value="1" onclick="chgChk(this);" onblur="">초급
                        </li>
                        <li class="ticket-item">
                            <input type="checkbox" name="check" value="2" onclick="chgChk(this);" onblur="">중급
                        </li>
                        <li class="ticket-item">
                            <input type="checkbox" name="check" value="3" onclick="chgChk(this);" onblur="">고급
                        </li>
                    </ul>
                    <button>구매하기</button>
                </div>
            </div>
            <div class="right-box">
                <h3>보유한 수강권</h3>
                <div class="myticket-box"></div>
            </div>
        </div>


    </div>
</div>
</body>
</html>