<!DOCTYPE html>
<html layout:decorate="~{layout}" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>수강권</title>

</head>
<body>
<div layout:fragment="content" class="content">
    <link rel="stylesheet" type="text/css" th:href="@{/style_ticket_home.css}">
    <div class="container">
        <div class="top-box">수강권</div>
        <div class="middle-box">
            <div class="left-box">
                <div class="ticket-box">
                    <div class="ticket-item"></div>
                    <button>구매하기</button>
                </div>
            </div>
            <div class="center-box">
                <div class="ticket-box">
                    <div class="ticket-item"></div>
                    <button>구매하기</button>
                </div>
            </div>
            <div class="right-box">
                <div class="ticket-box">
                    <div class="ticket-item"></div>
                    <button>구매하기</button>
                </div>
            </div>
        </div>


    </div>
</div>
</body>
</html>