<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>

<script>
    async function UploadForm__submit(form) {
        const formData = new FormData(form);

        const response = await axios.post(form.action, formData, {
            headers: {
                "Content-Type" : "multipart/form-data"
            }
        });

        console.log(response);
    }
</script>

<form onsubmit="UploadForm__submit(this); return false;" th:action="@{/api/upload/1}" method="POST" enctype="multipart/form-data">
  <input type="file" name="file___member__0__common__profileImg__1__owner__1">
  <input type="submit" value="업로드">
</form>