* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 1100px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 100px;
}
section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 15px;
}
.page-title h3 {
  font-size: 30px;
  color: #333333;
  font-weight: bold;
  text-align: left;
}

.board-table {
  font-size: 15px;
  width: 100%;
  border-top: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.board-table a {
  color: #333;
  display: inline-block;
  line-height: 1.4;
  word-break: break-all;
  vertical-align: middle;
}
.board-table a:hover {
  text-decoration: underline;
}
.board-table th {
  text-align: center;
}

.board-table .th-num {
  width: 100px;
  text-align: center;
}

.board-table .th-date {
  width: 200px;
}

.board-table th,
.board-table td {
  padding: 10px 0;
}

.board-table tbody td {
  border-top: 1px solid #e7e7e7;
  text-align: center;
}

.board-table tbody th {
  padding-left: 28px;
  padding-right: 14px;
  border-top: 1px solid #e7e7e7;
  text-align: left;
}

.board-table tbody th p {
  display: none;
}

.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 20px 0;
   position: relative;
}

.pagination span,
.pagination a {
  display: block;
  width: auto;
  margin: 4px;
  padding: 8px;
  background-color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 20px;
}

.pagination .pager {
  color: black;
  width: 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination a:hover,
.pagination .current {
  color: #fff;
  border-color: #333;
  background: seagreen;
}

.pagination .str {
  font-weight: bold;
}

.pagination a.prev {
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.pagination a.next {
  margin-left: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: black;
}

.pagination span.page_num {
  display: none;
}

* {
  margin: 0; padding: 0; box-sizing: border-box;

}
ul, li { list-style: none }
a {
  text-decoration: none;
  color: inherit;
}


.login {
  text-align : right;
  font-size:14px;
}


.navbar {
  background: white;
  text-align:center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width:80%
}
.nav-logo > a > img {
  width : 150px;
  height : 150px;
}
.nav-logo {
  display:inline-block;
}

.nav-bar {
  display:inline-block;
  border : 2px solid rgb(27, 89, 29);
  border-radius : 10px 10px;
  width: 100%;
  vertical-align: 63px;
}
.nav-bar::after{
  content: '';
  display: table;
  clear: both;
}
.nav-logo, .nav-bar{
  float:center;
}

.nav-bar > .nav-item {
  display:inherit;
  font-weight : bold;
  width : calc(100% / 5);
  padding-top: 20px;
  padding-bottom: 20px;
  vertical-align:top;

}

.nav-item > a:hover{
  display:block;
  color: rgb(27, 89, 29);
  transform:scale(1.1);
  transition:transform 0.5s;
}

.nav-bar:hover .nav-item .sub-bar {
  display:block;
  height:auto;
  margin: 10px;
  color: black;
}

.sub-bar{
  height:0;
  overflow:hidden;
}
.sub-bar .sub-mn {
  padding-top:10px;
  display:block;
}
.sub-bar .sub-mn:hover {
  color:seagreen;
  transform:scale(1.1);
  transition:transform 0.5s;
}
